
.header{
    background-color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    justify-content: $centro;
    border-bottom: solid 1px black;
    grid-area: header;
    .navbar-nav{
        color: black;
        .nav-link{
            margin: 0.7rem;
            &:hover{
                color: map-get($colores,colortitle);
                transition: 1s;
            }
        }
    }
    .navlogo{
        width: 20rem;
        height: 7rem;
    }
}
