@import '../base/variable';
@import '../base/extend';
@import '../base/mixin';
.intro-container{
    width: 100%;
    height: 90vh;
    background-image: url("../img/masajes-pareja.jpg");
    background-position: $centro;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: $flex;
    justify-content: $centro;
    flex-direction: column ;
    align-items: $centro;
    .lead{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.9rem;
        font-weight: 300;
}
        .masajesbel-main{
        font-size: 8rem;
        color: map-get($colores,colortitle);
        -webkit-text-stroke: 2px rgb(0, 0, 0);
        -webkit-animation: tracking-in-expand 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	    animation: tracking-in-expand 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        }
}


.index-section1 > div { 
    @include flex (flex , row , center);
    margin-bottom: 0.3rem;
    grid-area: section;
    margin-top: 2px;
    .title-paragraph{
        margin: 1rem;
        font-style: italic;
        .lead{
            font-size: 1.4rem;
            font-weight: 700;
    }
 }

    .index-section1 img {
        @extend %index-img;
    }
}

.index-section2 > div{
    @include flex (flex , row-reverse , center);
    margin-bottom: 0.3rem;
    .title-paragraph{
        margin: 1rem;
        font-style: italic;
        .lead{
            font-size: 1.4rem;
            font-weight: 700;
        }
    }

    .index-section2 img{
        @extend %index-img;
    }
}

.index-section3 > div{
    @include flex (flex , row , center);
    grid-area: section;
    .title-paragraph{
        margin: 1rem;
        font-style: italic;
        .lead{
            font-size: 1.4rem;
            font-weight: 700;
        }
    }

    .index-section3 img{
        @extend %index-img;
    }
}
.ending-strong{
    padding: 3rem;
    background-image: linear-gradient( 109.9deg,  rgba(251,189,100,1) 1.8%, rgba(255,207,139,1) 95.4% );
    animation: reappear 5s ease-in;
    .lead{
        font-weight: 500;
        font-size: 1.5rem;
        font-style: oblique;
    }
}


