@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
@keyframes about-us{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes reappear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 500;
    }
}