
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: $bg-color;
    font-family:'Roboto';
    text-align: center;
}
.lead{
    color: #000000;
    opacity: 0.9;
}

.bg-secondary{
    font-size: medium;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}
.bg-success{
    font-size: large;
    margin-left: 1rem;
}
.row{
    margin-right: calc(-5 * var(--bs-gutter-x))
}